/* ======================================================================
                        MOBILE
========================================================================= */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  background-color: #212529;
  color: #19b5fe;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
.title {
  align-self: stretch;
  color: black;
  background-color: lightgreen;
  font-weight: 900;

  padding: 0.6rem;
  margin-bottom: 0.75rem;
}
.stats {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;
}
.data {
  color: lightgreen;
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0.4rem auto 0.4rem auto;
}

.stats-container {
  display: flex;
  flex-direction: column;
  /* Required for Internet Explorer */
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-left: 0;
  padding-right: 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}

.currency-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 210px;
}
.currency-container:first-of-type {
  margin-top: 1rem;
}

.currency {
  font-size: 1.4rem;
  font-weight: 700;

  margin-right: 0.5rem;
}

#currency-to {
  padding-right: 32.65px;
}

.options {
  display: flex;
}

.select {
  border: none;
}

.amount-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 0.5rem;
}
.amount {
  margin-right: 0.5rem;
}

.swap {
  width: 4.5rem;
  height: 2rem;

  margin: 0.9rem 1rem;
}

.input {
  cursor: text;
  border: none;
  width: 8rem;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.button {
  border: none;
}

.convert {
  background-color: white;
  margin-left: 0.5rem;
}

.result {
  font-size: 1.5rem;
  font-weight: 500;

  padding-top: 1rem;
  padding-left: 0.5rem;
}
.result span {
  color: lightgreen;
}

.select,
.button {
  cursor: pointer;
}

.round {
  border-radius: 5px;
}

/* ======================================================================
                        TABLET
========================================================================= */
@media (min-width: 769px) {
  .title {
    align-self: center;

    padding: 1rem 8rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 1rem;
  }
  .currency-container {
    margin-top: 1rem;

    width: auto;
  }
  .currency {
    font-size: 1.5rem;
    margin-right: 1rem;
    }
  #currency-to {
    padding-right: 0;
    margin-right: 1rem;
  }
  .swap {
    align-self: flex-end;

    width: 4.5rem;
    height: 2rem;

    margin: 0 6rem;
  }
  .amount-container {
    padding-top: 0;
    margin-top: 1rem;
  }
  .result-container {
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-top: 1rem;
  }
}

/* ======================================================================
                        DESKTOP
========================================================================= */
@media (min-width: 992px) {
  .title {
    border-radius: 10px;
    padding: 2rem 10rem;

    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .data {
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-bottom: 0;
  }
  .stats-container {
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .options-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .amount-container {
    margin-bottom: 3rem;
  }
  .input {
    width: 10rem;
  }
  .result {
    margin-top: 1rem;
  }
  .result-container {
    align-items: center;
    justify-content: center;

    padding-top: 0;
  }
  .button {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  .swap {
    width: 4.5rem;
    height: 2rem;

    margin-left: 8rem;
    margin-right: 8rem;
  }
  .convert {
    width: 8rem;
    height: 2.5rem;
  }
}







/*  */
